.suggest-options-block ymaps {
  background-color: #10163a;
  border-color: #f97354;
  top: 0;
  color: #ffffff;
}
.suggest-options-block ymaps .ymaps-2-1-75-search__suggest-item_selected_yes {
  background: #f97354;
}
.suggest-options-block ymaps .ymaps-2-1-75-search__suggest-item_selected_yes .ymaps-2-1-75-search__suggest-highlight {
  background: #f97354;
}
